.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.imgContainer {
  flex: 1;
  position: relative;
}

.title {
  font-size: 50px;
}

.subtitle {
  color: var(--btn);
}

.desc {
  font-size: 16px;
  font-weight: 300;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  color: var(--btn);
}

.aboutImg {
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .imgContainer {
    display: none;
  }

  .boxes {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
}