.container {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  color: grey;
}

.logo {
  font-weight: bold;
}

.text {
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

}